[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
python-jenkins = "*"
python-ldap = "*"
lxml = "*"
click = "*"
pyinstaller = "*"

[dev-packages]

[requires]
python_version = "2.7"
